doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		link(rel='manifest', href='./manifest.webmanifest')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='Highlight and organize your readings')
		link(
			rel='apple-touch-icon',
			sizes='180x180',
			href='./assets/favicon/apple-touch-icon.png'
		)
		link(
			rel='icon',
			type='image/png',
			sizes='32x32',
			href='./assets/favicon/favicon-32x32.png'
		)
		link(
			rel='icon',
			type='image/png',
			sizes='16x16',
			href='./assets/favicon/favicon-16x16.png'
		)
		title HiLight
		link(
			href='https://fonts.googleapis.com/css?family=Poppins&display=swap',
			rel='stylesheet'
		)
		link(rel='stylesheet', href='./style.css')
		if isProduction
			script(
				async,
				src='https://www.googletagmanager.com/gtag/js?id=UA-113899183-3'
			)
			script.
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());
				
				gtag('config', 'UA-113899183-3');
				
	body
		include mixins.pug
		.circle
		.container.mx-auto
			header.flex.justify-between.py-4.px-2
				h1.sr-only HiLight
				img(src='./assets/Logo.svg', alt='HiLight logo')
				a.bg-black.text-white.py-2.px-4.rounded(href='#mce-EMAIL')
					| I want a discount
		.container.mx-auto
			+columns.illustration.reading-illustration.mb-8(class='md:mb-32')
				+one-of-two
					h2.text-4xl.leading-tigh.mb-6.font-pop
						| Highlight and organize your readings
					p.text-sm.mb-8
						| We know how you love bookmarking, but you hate don’t knowing why
						| you did it a week after, we hate it too. That’s why we created
						| HiLight. Read, highlight what matters you the most and we keep it
						| organized for you.
					a.bg-red-600.py-3.px-4.text-white.rounded.mb-8.inline-block(
						class='md:mb-0',
						href='#mce-EMAIL'
					)
						| I’m interested!
				+one-of-two
					img(src='./assets/Scene_3.png', alt='hilight extension screenshot')
		.container.mx-auto
			+columns.mb-8(class='md:mb-32')
				+one-of-four
					+feature('atlas', "Highlight", "Highlight while you read as you usually do.")
				+one-of-four
					+feature("bookmark", "Bookmark, better.", "Store every reading into awesome flashcards.")
				+one-of-four
					+feature("handshake", "We’ll keep it clean.", "We auto-organize your readings. The more you highlight the better we organize.")
				+one-of-four
					+feature("user", "You before us.", "You make your HiLight flashcards as personalized as you want.")
		.gradient
			.container.mx-auto
				+columns.mb-8(class='md:mb-32')
					+one-of-two
						.illustration.flag-illustration
							img(src='./assets/Scene_4.png', alt='hilight app screenshot')
					+one-of-two
						h2.text-4xl.leading-tight.mb-6.font-pop Bookmarks got better.
						ul
							li.mb-2
								span.list-item-icon
								| Highlight any text, anywhere in the browser.
							li.mb-2
								span.list-item-icon
								| Auto-suggested categories with AI.
							li.mb-2
								span.list-item-icon
								| Custom categories and subcategories.
							li.mb-2
								span.list-item-icon
								| Automatic flashcards beautifully organized.
							li.mb-2
								span.list-item-icon
								| Get access to original links.
						a.bg-red-600.py-3.px-4.text-white.rounded.mb-8.inline-block(
							class='md:mb-0',
							href='#mce-EMAIL'
						)
							| Ok I need this, ASAP
		.container.mx-auto
			+columns.bg-red-600.px-8.py-12.mb-16(class='md:px-24 md:rounded')
				+one-of-two
					p.text-white.self-center Wanna get a 20% discount when we launch?
				+one-of-two
					form.rounded.border-2.border-white-50.p-1.flex.validate(
						action='https://gmail.us20.list-manage.com/subscribe/post?u=8fa6b4bcc2abca5ae9ba887e6&amp;id=a492d23163',
						method='post',
						name='mc-embedded-subscribe-form',
						target='_blank',
						novalidate
					)
						label.sr-only.text-white(for='mce-EMAIL') Email Address
						input#mce-EMAIL.bg-transparent.text-white.placeholder-gray-200.flex-1.p-1(
							type='email',
							value='',
							name='EMAIL',
							placeholder='Enter your email'
						)
						input(
							hidden,
							type='text',
							name='b_8fa6b4bcc2abca5ae9ba887e6_a492d23163',
							tabindex='-1',
							value=''
						)
						button.button(type='submit', value='Subscribe', name='subscribe')
							img.ml-2.mr-1(src='./assets/send-email.svg', alt='send icon')
							span.sr-only.text-white Submit
		.container.mx-auto.mt-4
			.px-2.mb-8
				.flex.flex-wrap.-mx-2.justify-between.border-y-gray.pt-8
					.w-full.self-center.px-2(class='md:w-1/3')
						img(src='./assets/Logo.svg', alt='hilight logo')
						p.text-md.text-gray-700
							| We just really want to make the reading in the internet better.
					.w-full.px-2(class='md:w-1/3')
						img(src='./assets/shutterstock_1388395853.png', alt='Reader feeling good')
		footer
			p.text-center.mb-8 Made with 🖤 by HiLight, 2020.
		script(src='./index.ts')
