doctype html
head
	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	title HiLight
	link(
		href='https://fonts.googleapis.com/css?family=Poppins&display=swap',
		rel='stylesheet'
	)
	link(rel='stylesheet', href='./style.css')
body
	include mixins.pug
	.circle
	.container.mx-auto
		header.flex.justify-between.py-4.px-2
			img(src='./assets/Logo.svg', alt='HiLight logo')
			button.bg-black.text-white.py-2.px-4.rounded
				| I want a discount
	.container.mx-auto
		+columns.illustration.reading-illustration.mb-8(class='md:mb-32')
			+one-of-two
				h2.text-4xl.leading-tigh.mb-6.font-pop
					| Highlight and organize your readings
				p.text-sm.mb-8
					| We know how you love bookmarking, but you hate don’t knowing why
					| you did it a week after, we hate it too. That’s why we created
					| HiLight. Read, highlight what matters you the most and we keep it
					| organized for you.
				button.bg-red-600.py-2.px-4.text-white.rounded.mb-8(class='md:mb-0')
					| I’m interested!
			+one-of-two
				img(src='./assets/Scene_3.png', alt='highlight screenshot')
	.container.mx-auto
		+columns.mb-8(class='md:mb-32')
			+one-of-four
				+feature("./assets/atlas.svg", "Highlight", "Highlight while you read as you usually do.")
			+one-of-four
				+feature("./assets/Rectangle.svg", "Bookmark, better.", "Store every reading into awesome flashcards.")
			+one-of-four
				+feature("./assets/handshake.svg", "We’ll keep it clean.", "We auto-organize your readings. The more you highlight the better we organize.")
			+one-of-four
				+feature("./assets/user-astronaut.svg", "You before us.", "You make your HiLight flashcards as personalized as you want.")
	.gradient
		.container.mx-auto
			+columns.mb-8(class='md:mb-32')
				+one-of-two
					.illustration.flag-illustration
						img(src='./assets/Scene_4.png', alt='highlight screenshot')
				+one-of-two
					h2.text-4xl.leading-tight.mb-6.font-pop Bookmarks got better.
					ul
						li.mb-2
							span.list-item-icon
							| Highlight any text, anywhere in the browser.
						li.mb-2
							span.list-item-icon
							| Auto-suggested categories.
						li.mb-2
							span.list-item-icon
							| Custom categories and subcategories.
						li.mb-2
							span.list-item-icon
							| Automatic flashcards beautifully organized.
						li.mb-2
							span.list-item-icon
							| Get access to original links.
						li.mb-2
							span.list-item-icon
							| Free.
	.container.mx-auto
		+columns.bg-red-600.px-8.py-12.mb-16(class='md:px-24 md:rounded')
			+one-of-two
				p.text-white.self-center Wanna get a 20% discount when we launch?
			+one-of-two
				form.rounded.border-2.border-white-50.p-1.flex
					label.sr-only(for='email') Enter your email
					input#email.bg-transparent.text-white.placeholder-gray-200.flex-1.p-1(
						type='text',
						name='email',
						placeholder='Enter your email'
					)
					button
						img.ml-2.mr-1(src='./assets/send-email.svg', alt='')
						span.sr-only Submit
	.container.mx-auto.mt-4
		.px-2.mb-8
			.flex.flex-wrap.-mx-2.justify-between.border-y-gray.pt-8
				.w-full.self-center.px-2(class='md:w-1/3')
					img(src='./assets/Logo.svg', alt='hilight logo')
					p.text-md.text-gray-700
						| We really just want to make the reading in the internet better.
				.w-full.px-2(class='md:w-1/3')
					img(src='./assets/shutterstock_1388395853.png', alt='')
	footer
		p.text-center.mb-8 Made with 🖤 by HiLight, 2020.
